/**********************/
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;600;700&display=swap');

.container{
  /*position: fixed;*/
  min-width: 100%;
  background-image: url(src/assets/bg-cont.png);
  background-repeat: no-repeat;
}


a, a:hover { text-decoration: none}
img { border: none; max-width:100%;}
ul { list-style: none}
body {
  background-color: transparent;
}

  #social  {
    max-width:100%;
    display: inline-table;
  }

  #social .address a{
  color:#080918;
  width:100%;
  font-weight: bold;
  font-size:large;
  font-family: "Times New Roman", serif;
  }
  #social .address li:first-child a{padding-left:0;border-left:none}
  #social .address li:last-child a{padding-right:0;}
  #social .address li a:hover, #social .address li a:active{
  border-bottom: solid 4px #db2e34;
  box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
  }
  #social .address li{
  display: inline-block;
  margin: auto;
  }
  .button{
    text-align: left;
    background-color: #dc3545;
    max-width: max-content;
  }
  #btn-med:hover {
    color: #000;
    background-color: transparent;
      border-color: transparent;
  }

  .logo{
  float:left;
  z-index: 9;
  width: 20%;
  }



  /* Footer */
.logo-foot{
    width:90%;
    text-align: center;
    display: inline-block;
  }
