<div class="container">

  <nav class="navbar navbar-expand-lg p-md-3">
        <div id="social"  class="collapse navbar-collapse">

        <a href="#" title="Potomac eStore"  class="logo navbar-brand">
          <img src="assets/logo.png" alt="Potomac eStore" title="Potomac eStore" />
        </a>
          <ul class="address navbar-nav mr-auto d-flex justify-content-end">
            <li class="nav-item"><a  class="nav-link"  href="#">Acucueil</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Prendre un rendez vous</a></li>
            <li class="nav-item"><a class="nav-link" href="#">Poser une question</a></li>
          </ul>
          <div class="button my-2 my-md-0">
            <button class="btn btn-danger" id="btn-med">
            <img src="assets/logomed.png" alt="Potomac eStore"
                title="Potomac eStore" class="rounded-pill" />Vous êtes médecin?</button>
          </div>
        </div>

    </nav>


<router-outlet></router-outlet>


<!--<div *ngIf="!isAuth"  >
        <div>
            <a class="btn" routerLink="/signin">Sign In</a>
            <a class="btn" routerLink="/signup">Sign Up</a>
        </div>
    </div>
    <div *ngIf="isAuth">
        <a class="btn btn-danger" (click)="onSignOut()">Sign Out</a>
    </div>-->









</div>
<footer class="py-3 my-4 ">
  <div class="logo-foot"><a target="_blank" href="#" title="Potomac eStore"><img src="assets/logo.png"
    alt="Potomac eStore" title="Potomac eStore" /></a>
</div>
  <ul class="nav justify-content-center border-bottom pb-3 mb-3">
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Acucueil</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Prendre un rendez-vous</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Poser une question</a></li>
    <li class="nav-item"><a href="#" class="nav-link px-2 text-body-secondary">Connexion</a></li>
  </ul>
  <p class="text-center text-body-secondary">© 2024 Copyright: E-Santé. Tous droits réservés.
    <a class="text-body" href="https://mdbootstrap.com/">E-Sante.com</a></p>
</footer>
