@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@100;200;300;400;500;600;700;800;900&family=Open+Sans:wght@400;600;700&display=swap');

.appointment-booking {
  padding: 20px 0;
}

.banner {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 140px 0;

  background-size: cover;
  background-position: center;
}

.banner .content {
  text-align: center;
}

.banner h1 {
  color: #ff4d4f;
  font-size: 2.5rem;
  float: right;
  width:60%;
  font:bold  25px/30px 'Kanit', sans-serif;
  margin-bottom: 20px;
  text-align: left;
}

.search {
  width: 100%;
  padding:40px 10px 0;
  display: inline-block;
  text-align: right;

}

.search input[type="text"] {
  width: 250px;
  padding: 10px;
  margin: 0 5px;
  border: 1px solid #d9d9d9;
  border-radius: 4px;
}

.search button {
  background-color: #1890ff;
  border: none;
  color: white;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 4px;
}

.search button i {
  font-size: 1rem;
}

.why-choose-e-sante {
  text-align: center;
}

.why-choose-e-sante h2, .dropdown h2 {
  color: #000;
  width: 100%;
  text-align: left;
  /*display: inline-block;*/
  font: bold 20px/20px 'Kanit', sans-serif;
  border-bottom: solid 5px #1890ff;
  margin-bottom: 21px;
  padding: 0 0 10px;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.feature {
  background-color: #fff;
  border: 1px solid #d9d9d9;
  border-radius: 8px;
  box-shadow: 10px 5px 5px #ddd;
  padding: 20px;
  margin: 10px 0;
  flex: 1 1 calc(33.333% );
  max-width: calc(33.333% );
}

.feature h3 {
  font-size: 1.5rem;
  color: #ff4d4f;
  font: 600 16px/20px 'Kanit', sans-serif;
  margin-bottom: 10px;
}

.feature p {
  font: 400 14px/20px 'Kanit', sans-serif;
  color: #595959;
}

.btn-secondary {
  color: #000;
  font: bold 20px/20px 'Kanit', sans-serif;
  background-color: transparent;
  border-color: #000;
}

.block {
  margin-top: 100px;
  text-align: center;
}





.cards-wrapper {
  display: flex;
  justify-content: center;
}

.carousel-inner {
  padding: 1em;
}
.carousel-control-prev,
.carousel-control-next {
  background-color: #0f0f0f;
  width: 5vh;
  height: 5vh;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}


.row-doctor{
  margin: 30px;
  margin-bottom: 30px;
}

.card-body{
  text-align: center;
}


/* Question Réponse*/

.discussion {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.qa-block {
  margin-bottom: 20px;
}

.question, .answer {
  padding: 10px;
  border-radius: 4px;
  margin-bottom: 10px;
}

.question {
  background-color: #007BFF;
  color: #fff;
}

.answer {
  background-color: #f9f9f9;
  border-left: 4px solid #007BFF;
}

.author {
  display: block;
  font-size: 0.9em;
  color: #555;
  margin-top: 5px;
}

